<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box">
    	<div class="button_style">
			<%= link_to "Mensajes enviados", chat_cliente_admins_path %>
		</div>
		<div class="button_style">
			<%= link_to "Mensajes recibidos", chat_cliente_admins_path %>
		</div>
    </dir>
   </div>
</div>

